In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv("Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
data['Species']= le.fit_transform(data['Species'])

In [7]:
data.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0
5   6            5.4           3.9            1.7           0.4        0
6   7            4.6           3.4            1.4           0.3        0
7   8            5.0           3.4            1.5           0.2        0
8   9            4.4           2.9            1.4           0.2        0
9  10            4.9           3.1            1.5           0.1        0

In [8]:
data['Species']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
120    2
121    2
122    2
123    2
124    2
125    2
126    2
127    2
128    2
129    2
130    2
131    2
132    2
133    2
134    2
135    2
136    2
137    2
138    2
139    2
140    2
141    2
142    2
143    2
144    2
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

## Sometimes in datasets, we encounter columns that contain numbers of no specific order of preference. The data in the column usually denotes a category or value of the category and also when the data in the column is label encoded. This confuses the machine learning model, to avoid this the data in the column should be One Hot encoded.

In [11]:
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

In [17]:
onehotencoder = OneHotEncoder(handle_unknown='ignore')

In [18]:
enc_df = pd.DataFrame(onehotencoder.fit_transform(data[['Species']]).toarray())

In [16]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
5    1.0  0.0  0.0
6    1.0  0.0  0.0
7    1.0  0.0  0.0
8    1.0  0.0  0.0
9    1.0  0.0  0.0
10   1.0  0.0  0.0
11   1.0  0.0  0.0
12   1.0  0.0  0.0
13   1.0  0.0  0.0
14   1.0  0.0  0.0
15   1.0  0.0  0.0
16   1.0  0.0  0.0
17   1.0  0.0  0.0
18   1.0  0.0  0.0
19   1.0  0.0  0.0
20   1.0  0.0  0.0
21   1.0  0.0  0.0
22   1.0  0.0  0.0
23   1.0  0.0  0.0
24   1.0  0.0  0.0
25   1.0  0.0  0.0
26   1.0  0.0  0.0
27   1.0  0.0  0.0
28   1.0  0.0  0.0
29   1.0  0.0  0.0
..   ...  ...  ...
120  0.0  0.0  1.0
121  0.0  0.0  1.0
122  0.0  0.0  1.0
123  0.0  0.0  1.0
124  0.0  0.0  1.0
125  0.0  0.0  1.0
126  0.0  0.0  1.0
127  0.0  0.0  1.0
128  0.0  0.0  1.0
129  0.0  0.0  1.0
130  0.0  0.0  1.0
131  0.0  0.0  1.0
132  0.0  0.0  1.0
133  0.0  0.0  1.0
134  0.0  0.0  1.0
135  0.0  0.0  1.0
136  0.0  0.0  1.0
137  0.0  0.0  1.0
138  0.0  0.0  1.0
139  0.0  0.0  1.0
140  0.0  0.0  1.0
141  0.0  0.0  1.0
142  0.0  0.0  1.0
143  0.0  0.0  1.0
144  0.0  0.0  1.0
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [19]:
data2 = pd.read_csv("Iris.csv")

## Using dummies values approach

In [20]:
dum_df = pd.get_dummies(data2, columns=["Species"], prefix=["Type_is"] )

In [22]:
data2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
dum_df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Type_is_Iris-setosa,Type_is_Iris-versicolor,Type_is_Iris-virginica
0,1,5.1,3.5,1.4,0.2,1,0,0
1,2,4.9,3.0,1.4,0.2,1,0,0
2,3,4.7,3.2,1.3,0.2,1,0,0
3,4,4.6,3.1,1.5,0.2,1,0,0
4,5,5.0,3.6,1.4,0.2,1,0,0